body{
	background: linear-gradient(blue, purple);
}

header{
	width: 1500px;
	margin: 0 auto;
}

h1{
	text-align: center;
}

#main{
	width: 1500px;
	margin: 0 auto;
	background: white;

}


#wrapper{
	margin-bottom: 20px;
}

.subjects:hover{
	color: red;
}


.messageBody{
	display: none;
}
